<div class="mainBody">
    <div id="queryWrapper">
      <input type="text" id="query" class="allInput" required />
      <span id="bar" class="allBar"></span>
      <label id="searchLabel" class="allLabel"><i class="fa fa-search"></i> Enter Capital One ID</label>
    </div>
</div>
