
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=visualization"></script>

<div class="dataBody">
  <div class="leftMenu">
    <ul id="sourceSelectorWrapper">
      <li class="sourceList"><button id="graphSelector" class="sourceSelector"><span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover='false' tabindex=1 title="Transaction Graphics"><i class="fa fa-line-chart"></i></span></button></li>
      <li class="sourceList"><button id="mapSelector" class="sourceSelector"><span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover='false' tabindex=1 title="Transaction Locations"><i class="fa fa-map"></i></span></button></li>
    </ul>
  </div>
  <div id="rightDisplay">
  <div class="rightDisplay">
    <div id="chartBody">
      <div id="chartTitle">Financial Data for Andrew Ma</div>
      <div id="lineGraphWrapper">
        <div class="chartTitle">here</div>
        <canvas id="lineGraph" height="500%" width="1500%"><canvas>
      </div>

    <div class="rightleft">
      <div>Table here</div>
    </div>

    <div class="rightright">
      <div id="chartBody">
        <div id="lineGraphWrapper">
          <div class="chartTitle">Balance Over Time</div>
          <canvas id="lineGraph" class="graphs"><canvas>
        </div>

        <div id="solarChartWrapper">
          <div class="chartTitle">Total Money Flow</div>
          <div id="righty">
            <div id="explanation" style="visibility: hidden;">
              <span id="nameofthing"></span><br/>
              <span id="percentage"></span> of total flow
            </div>
          </div>
          <div id="lefty">
            <div id="solarGraph" class="graphs"></div>
          </div>

        </div>
      </div>
    </div>

  </div>
  <div id="mapBody">
    <div id="mapTitle">Financial Map for Andrew Ma</div>
    <div id="mapWrapper">
      <div id="map"></div>
    </div>
  </div>
</div>
