
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=visualization"></script>

<div class="dataBody">
  <div class="leftMenu">
    <ul id="sourceSelectorWrapper">
      <li class="sourceList"><button id="graphSelector" class="sourceSelector"><span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover='false' tabindex=1 title="Transaction Graphics"><i class="fa fa-line-chart"></i></span></button></li>
      <li class="sourceList"><button id="mapSelector" class="sourceSelector"><span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover='false' tabindex=1 title="Transaction Locations"><i class="fa fa-map"></i></span></button></li>
      <li class="sourceList"><button id="hotSelector" class="sourceSelector"><span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover='false' tabindex=1 title="Hot Transactions"><i class="fa fa-fire"></i></span></button></li>
      <li class="sourceList"><button id="regionSelector" class="sourceSelector"><span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover='false' tabindex=1 title="Most Prosperous Region"><i class="fa fa-home"></i></span></button></li>
      <li class="sourceList"><button id="similarSelector" class="sourceSelector"><span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover='false' tabindex=1 title="Similar Customers"><i class="fa fa-users"></i></span></button></li>
    </ul>
  </div>
  <div id="rightDisplay">
    <div id="chartBody">

    <div class="rightleft">
      <div id="tableWrapper"></div>
    </div>

    <div class="rightright">
      <div id="chartBody">
        <div id="lineGraphWrapper">
          <div class="chartTitle">Balance Over Time</div>
          <canvas id="lineGraph" width="500px" height="250px" class="graphs"><canvas>
        </div>

        <div id="solarChartWrapper">
          <div class="chartTitle">Total Money Flow</div>
          <div id="righty">
            <div id="explanation" style="visibility: hidden;">
              <span id="nameofthing"></span><br/>
              <span id="percentage"></span> of total flow
            </div>
          </div>
          <div id="lefty">
            <div id="solarGraph"></div>
          </div>

        </div>
      </div>
    </div>
  </div>
  </div>

  <div id="mapBody">
    <div id="mapWrapper">
      <div id="map"></div>
    </div>
  </div>

  <div id="hotBody">
    <div id="mapWrapper">
      <div id="hotList"></div>
      <div id="hotMap"></div>
    </div>
  </div>

  <div id="regionBody">
  </div>

  <div id="similarBody">
    <div id="myNameArea"></div>
    <div id="inbetweenTextAbove"><h5>in regards to</h5></div>
    <div id="inbetweenTextMiddle"></div>
    <div id="inbetweenTextBelow"><h5>you have</h5></div>
    <div id="othersArea"></div>
  </div>
</div>
